Repository Thecnfor/XT-test, changes with the owners that CODEOWNERS names for each.
All owners: @Thecnfor, @wangjuncheng520, @backend-dev1, @backend-dev2, @frontend-dev1, @frontend-dev2, @doc-writer, @architect

基础版本
  .gitignore
  README.md
  backend/README.md
  backend/main.py
  backend/requirements.txt
  backend/run.py
  backend/xt/__init__.py
  backend/xt/app.py
  backend/xt/config.py
  backend/xt/events.py
  backend/xt/socketio.py
  frontend/README.md
Owners: @architect, @doc-writer, @backend-dev1, @backend-dev2

基础配置
  backend/README.md
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/api/(chat)/chat.tsx
  frontend/src/app/(main)/[id]/page.tsx
  frontend/src/app/(main)/chat/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Owners: @backend-dev1, @backend-dev2, @frontend-dev1, @frontend-dev2, @architect

小改
  README.md
  frontend/README.md
Owners: @doc-writer

准备开始！
  README.md
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(main)/chat/page.tsx
  frontend/src/app/globals.scss
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/utils.ts
  frontend/src/styles/_mixins.scss
  frontend/src/styles/_variables.scss
  frontend/src/styles/globals.scss
Owners: @doc-writer, @frontend-dev1, @frontend-dev2

1
  frontend/tsconfig.json
Owners: @architect

Merge remote-tracking branch 'origin/main'
  backend/start.py
Owners: @backend-dev1, @backend-dev2

Merge remote-tracking branch 'origin/main'
  backend/start.py
Owners: @backend-dev1, @backend-dev2

CODEOWNERS:

# 代码库负责人配置
# 格式: <文件路径> <GitHub 用户名1> <GitHub 用户名2> ...

# 根目录文件由团队领导负责
* @Thecnfor @wangjuncheng520

# 后端代码由后端团队负责
/backend/ @backend-dev1 @backend-dev2

# 前端代码由前端团队负责
/frontend/ @frontend-dev1 @frontend-dev2

# 文档由技术文档团队负责
/README.md @doc-writer
/frontend/README.md @doc-writer

# 配置文件由架构师负责
/.gitignore @architect
/.gitattributes @architect
/frontend/eslint.config.mjs @architect
/frontend/next.config.ts @architect
/frontend/postcss.config.mjs @architect
/frontend/tsconfig.json @architect
